.mark-wrap{
   width: 100%;
   height: 100%;
   text-align: center;
}

.mark-wrap .sidebar{
    display: inline-block;
    position: fixed;
    top: 100px;
    left: 60px;
    padding: 20px 0;
    text-align: center;
    background-color: rgba(0,0,0,.3);
}

.mark-wrap .mark-btn{
    padding: 10px 20px;
    display: block;
    width: 20px;
    height: 20px;

} 

.mark-wrap .mark-btn:hover{
    background-color: rgba(0,0,0,.2);
}

.mark-wrap .figure-content{
    margin: 0 auto;
    width: 600px;
    height: 600px;
    background-image: url("../image/niuniu.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
}